
body {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    line-height: 1.5;
    min-height: 100vh;
    background: #f3f3f3;
    flex-direction: column;
    margin: 0;
}

.login-form {
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    padding: 5px 10px;
    transition: transform 0.2s;
    max-width: 500px;
    width: 100%;
    text-align: center;
    margin: auto;
    padding: 5px;
    
}




h1 {
    color: #4CAF50;
}

label {
    display: block;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 5px;
    text-align: left;
    color: #555;
    font-weight: bold;
}

input {
    display: block;
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button {
    padding: 15px;
    border-radius: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    border: none;
    color: white;
    cursor: pointer;
    background-color: #4CAF50;
    width: 100%;
    font-size: 16px;
}

.h-btn2{
    display: inline-block;
    padding: 10px 18px;
    background-color: #009688;
    margin-left: 20px;
    
}
.h-btn2:hover{
    transform: translateX(-7px);
}


.wrap {
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(62, 51, 51, 0.75), rgba(62,51,51,0.75)), url(../img/background.jpg);
    background-size: cover;
    background-position: center;
  }

  .navbar{
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    width: 120px;
    cursor: pointer;
}

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 10px;
    position: relative;
} 

.navbar ul li a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;

}

.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: #009688;
    position: absolute;
    left: 0;
    bottom: -5px;
    transition: 0.5s;

}

.navbar ul li:hover::after{
    width: 100%;
}

/* per mobile */
@media (max-width: 768px) {
    .login-form {
        width: 90%;
        padding: 15px;
    }

    h1 {
        font-size: 24px;
    }

    input, button {
        font-size: 14px;
    }
}

/* per ipad ose pajisje te tjera te cilat kane madhesine e ipad-it*/
@media (max-width: 1024px) {
    .login-form {
        width: 70%; 
    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar ul li {
        margin: 5px 0;
    }
}
